ignored/
node_modules/
rsk-initiator/src/.api
rsk-initiator/.env-testnet
rsktx-adapter/src/.api
rsktx-adapter/.env-testnet
test-runner/src/job.json
testnet-deploy/.deployerKey
testnet-deploy/build
testnet-deploy/package-lock.json